<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <title>Document</title>

</head>

<body>
    <div id="freeSpace"></div>
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
                <h1 class="country">US<span class="countryTestimonialsNumber">(4 Testimonials)</span></h1>
                <div class="personInfo">
                    <img class="personImg" src="https://cdnsite3.assist.ro/sites/default/files/styles/team_member_avatar_170x170_/public/testimonial_authors_pictures/Andy%20Roney%20testimonial%20on%20ASSIST%20Software%27s%20services.png?itok=uO6NY27g"
                        alt="Picture"> <span class="personName"></span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <h1 class="country">US<span class="countryTestimonialsNumber">(4 Testimonials)</span></h1>
                <div class="personInfo">
                    <img class="personImg" src="https://cdnsite3.assist.ro/sites/default/files/styles/team_member_avatar_170x170_/public/testimonial_authors_pictures/Andy%20Roney%20testimonial%20on%20ASSIST%20Software%27s%20services.png?itok=uO6NY27g"
                        alt="Picture"> <span class="personName">Roony Ron</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <h1 class="country">US<span class="countryTestimonialsNumber">(4 Testimonials)</span></h1>
                <div class="personInfo">
                    <img class="personImg" src="https://cdnsite3.assist.ro/sites/default/files/styles/team_member_avatar_170x170_/public/testimonial_authors_pictures/Andy%20Roney%20testimonial%20on%20ASSIST%20Software%27s%20services.png?itok=uO6NY27g"
                        alt="Picture"> <span class="personName">Roony Ron</span>
                </div>
            </div>
        </div>

    </div>



</body>

</html>