#freeSpace {
    margin-top: 5vw;
}

.country {
    font-size: 30px;
    font-weight: 400;
}

.personImg {
    margin: 20px 0px;
    width: 80px;
    border-radius: 50px;
}

.personName {
    font-size: 25px;
}